/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    margin: 0;
    padding: 0;
}

.course-card-container{
display: flex;
flex-direction: row-reverse;
justify-content: space-evenly;
background-color: #7b91b0;
border-color: #3d5270 ;
border-style: solid;
padding-bottom: 2em;
padding-top: 2em;
margin-top: 5em ;
}
.course-card-info{
display: flex;
flex-direction: column;
}
#courses{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.episodes-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5em ;

}
.episode-card{
    margin-top: 5em ;
    border-color: #7b91b0 ;
     border-style: solid;
}
.edit-delete-buttons-container{
    display: flex;
    justify-content: space-evenly;

}
button{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #aa8d56;
    color: black;
    background-color: #f5d893;
    outline: medium none;
    padding: 15px;
    text-decoration: none;
    cursor:pointer;
}
 
a{
    
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #aa8d56;
    color: black;
    background-color: #f5d893;
    outline: medium none;
    padding: 15px;
    text-decoration: none;
    cursor:pointer;
}